$base-error: coral;
$base-success: aquamarine;

.errorDiv {
  color: $base-error;
}

.error {
  position: absolute;
  top: 100%;
  right: 0;
  color: red;
}
.valid {
  background-color: aquamarine;
}
.invalid {
  background-color: coral;
}
.fieldGroup {
  display: flex;
  align-items: center;
}
.optionWrapper {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 200px 0;
}
h1 {
  text-align: center;
}